.marker {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #66cc01;
	background-size: 200%;
	background-position: center center;
	background-repeat: no-repeat;
}

.mapboxgl-popup-content {
	padding: 0;
	background: unset;
	box-shadow: unset;
}
