.wp-block-cards-block-list {
	min-height: 5rem;

	.cards-list-search {
		margin: 0.3em 0.3em 1.5rem;
		position: relative;

		&.is-hidden {
			display: none;
		}

		.cards-list-search-controls {

			.icon {
				display: inline-block;
				background: #fff;
				border-radius: 1rem;
				width: 2rem;
				height: 2rem;
				line-height: 2;
				vertical-align: middle;
				text-align: center;

				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.cards-list-search-results {
			position: absolute;
			list-style: none;
			padding-left: 0;
			z-index: 5;
			display: none;

			&.is-visible {
				display: block;
			}

			> li {
				margin: 0 auto;
				padding: 0;
			}

			.search-result {
				margin: 0;
				display: block;
				position: relative;

				figcaption {
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					transform: translateY(5px);
					z-index: 6;
					background-color: #074365;
					padding: 0.1rem 0.3rem;
					font-size: 0.6rem;
					margin: 0;

					a {
						color: #fff;
					}
				}
			}
		}
	}
}
